In [2]:
'Zaid'

'Zaid'

In [3]:
234567890987654323456789987654567654567*3456789876545678987654567898765456789

810851910928793875603471205034179571292992780480784627575126288214117005363

In [4]:
a = 10
b = 3

In [5]:
name = "Zaid"

In [1]:
age = 20
is_prime = False
pi = 3.14
data = None

In [2]:
name ='Alexander'
movies = ['Avengers','Harry Potter', 'Inception']
car = {
    'brand': 'Tata',
    'model': 'Nexon',
    'year': 2023,
    'is_electric': False,
}

In [7]:
word = 'Apple'
len(word)

5

In [8]:
len(word) > 10

False

In [9]:
len(word) <= 5

True

In [10]:
'apple' == 'banana'

False

In [13]:
'🤯' != '😍'

True

In [14]:
name = 'Ajay'
name2 = 'Vijay'

In [20]:
len(name) < len(name2) and name == 'Ajay'

True

In [18]:
10 > 5 and 5 > 3

True

In [23]:
10 > 5 or 5 > 15

True

In [27]:
12*4 < 20 and 5*3 > 10 or 10*2 < 20

False

In [28]:
movies

['Avengers', 'Harry Potter', 'Inception']

In [29]:
'pk' in movies

False

In [31]:
'Avengers' in movies

True

In [32]:
x =[1,2,1,7,5,6,3,2,6]
6 in x

True

In [34]:
10 in x

False

In [36]:
x = [1,2,3]
y = x
z = [1,2,3]
print(x,y,z)

[1, 2, 3] [1, 2, 3] [1, 2, 3]

In [37]:
print(x is y)
print(x is z)
print(z is y)

True
False
False

In [40]:
a= [[1,2,3],[4,5,6]]
x in a

True