# string
- creating
- indexing and slicing
- methods
    - formatting
    - validation
    - searching
    - utilities
- operations

In [ ]:
a = 'apple' # single quotes
b = "Banana" # double quotes

c = '''this is 
an example of
a multiline string''' # triple quotes

d = """another example
of a multiline string""" # triple quotes

print(type(a), type(b), type(c), type(d))
print(a)
print(b)
print(c)
print(d)

In [ ]:
# msg = 'the hippo was 5' tall'
msg = 'the hippo was 5\' tall' # escape character
print(msg)
msg = "the hippo was 5' tall"  # use double quotes
print(msg)

In [ ]:
name = 'alexander' # iterable
print(len(name))
print(name[0]) # index 0 of name variable
print(name[1]) # index 1 of name variable
print(name[3])
print(name[5])
print(name[-1]) # last index of name variable
print(name[-4]) # 4th from last index of name variable

In [ ]:
print(name[0], name[1], name[2], name[3], sep='')

slicing
syntax
```
str[start : stop+1]

str[start : stop+1 : step]

str[: stop+1] # start defaults to 0

str[start :] # stop defaults to len(str)
```

In [ ]:
print(name[0:5]) # get the values at 0,1,2,3,4 (5 is not included)
print(name[:4]) # get the values at 0,1,2,3 (start at 0 and stop at 4)
print(name[4:8]) # get the values at 4,5,6,7 (start at 4 and stop at 8)
print(name[4:]) # get the values at 4,5,6,7,8 (start at 4 and stop at the end)

In [ ]:
n2 = 'Leonardo da Vinci'
print(n2[:8])
print(n2[-5:])
print(n2[-8:])
print(n2[-8:-6])
print(n2[9:11])
print(n2[9:-6])
print(n2[-8:11])

get vijay, deenanath, chauhan, deen

In [ ]:
n3 = 'Vijay Deenanath Chauhan'

slicing with steps

In [ ]:
n3[::2] # every other character

In [ ]:
n3[1::2] # odd index characters

In [ ]:
n2[1:10:3] # 1, 4, 7, (stop at 10)

In [ ]:
n2[::-1] # reverse the string

In [ ]:
quote = '''this is a quote from brandon sanderson,
"the purpose of a storyteller is not to tell you how to think, 
but to give you questions to think upon."'''
print(quote)

print('first 50 letters')
print(quote[:50])

print('last 50 letters')
print(quote[-50:])

print('first 500 letters')
print(quote[:500])

random questions

In [48]:
# fibonacci sequence  1, 2, 3, 5, 8, 13, 21, 34, ...
a, b = 1, 2
print(a, b, end=' ')
for i in range(10):
    c =  a + b
    print(c, end=' ')
    # swap values
    a = b # a = 3
    b = c # b = 5

1 2 3 5 8 13 21 34 55 89 144 233

In [64]:
print(ord('A'), ord('a'), ord('üòç')) # unicode/ascii
print(chr(65), chr(97), chr(35), chr(128525)) # unicode/ascii

65 97 128525
A a # üòç